.card-title {
  position: relative;
  display: inline-block;
  background: #18181b;
  color: rgb(255 255 255/1);
  padding: 4px 12px;
  border-radius: 2px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 40px;
  box-shadow: 0 4px 24px -8px #0006;
  text-align: center;
}

.corner {
  position: absolute;
  width: 8px;
  height: 8px;
  box-sizing: border-box;
}

.corner.top.left {
  top: 0;
  left: 0;
  border-top: 2px solid rgb(255 255 255/1);
  border-left: 2px solid rgb(255 255 255/1);
  border-radius: 2px 0 0 0;
}

.corner.top.right {
  top: 0;
  right: 0;
  border-top: 2px solid rgb(255 255 255/1);
  border-right: 2px solid rgb(255 255 255/1);
  border-radius: 0 2px 0 0;
}

.corner.bottom.left {
  bottom: 0;
  left: 0;
  border-bottom: 2px solid rgb(255 255 255/1);
  border-left: 2px solid rgb(255 255 255/1);
  border-radius: 0 0 0 2px;
}

.corner.bottom.right {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid rgb(255 255 255/1);
  border-right: 2px solid rgb(255 255 255/1);
  border-radius: 0 0 2px 0;
}
